USE [master]
GO
/****** Object:  Database [Practic0201Ir311]    Script Date: 14.12.2023 9:16:13 ******/
CREATE DATABASE [Practic0201Ir311]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practic0201Ir311', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Practic0201Ir311.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practic0201Ir311_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Practic0201Ir311_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practic0201Ir311].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practic0201Ir311]
GO
/****** Object:  Table [dbo].[Apartaments]    Script Date: 14.12.2023 9:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartaments](
	[ID] [int] NOT NULL,
	[HouseID] [int] NOT NULL,
	[Number] [smallint] NOT NULL,
	[Area] [decimal](10, 1) NOT NULL,
	[CountOfRooms] [int] NOT NULL,
	[Section] [int] NOT NULL,
	[Floor] [int] NOT NULL,
	[IsSold] [bit] NOT NULL,
	[BuildingCost] [int] NOT NULL,
	[ApartmentValueAdded] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ArC] [int] NOT NULL,
	[RmC] [int] NOT NULL,
	[BaseC] [int] NOT NULL,
	[Прибыль] [int] NULL,
 CONSTRAINT [PK_Apartaments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House]    Script Date: 14.12.2023 9:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House](
	[ID] [int] NOT NULL,
	[ResidentialComplexID] [int] NOT NULL,
	[Street] [nvarchar](50) NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[BuildingCost] [int] NOT NULL,
	[HouseValueAdded] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ПрибыльОтКвартир] [int] NULL,
 CONSTRAINT [PK_House] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResidentialComplex]    Script Date: 14.12.2023 9:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResidentialComplex](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[BuildingCost] [int] NOT NULL,
	[ComplexValueAdded] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[ПрибыльОтЖК] [int] NULL,
 CONSTRAINT [PK_ResidentialComplex] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Apartaments] ([ID], [HouseID], [Number], [Area], [CountOfRooms], [Section], [Floor], [IsSold], [BuildingCost], [ApartmentValueAdded], [IsDeleted], [ArC], [RmC], [BaseC], [Прибыль]) VALUES (457, 1, 1, CAST(67.6 AS Decimal(10, 1)), 2, 1, 1, 1, 11882000, 300000, 0, 10, 10, 10, 12482706)
INSERT [dbo].[Apartaments] ([ID], [HouseID], [Number], [Area], [CountOfRooms], [Section], [Floor], [IsSold], [BuildingCost], [ApartmentValueAdded], [IsDeleted], [ArC], [RmC], [BaseC], [Прибыль]) VALUES (458, 1, 2, CAST(79.2 AS Decimal(10, 1)), 3, 1, 1, 1, 13925000, 375000, 0, 10, 10, 10, 14450832)
INSERT [dbo].[Apartaments] ([ID], [HouseID], [Number], [Area], [CountOfRooms], [Section], [Floor], [IsSold], [BuildingCost], [ApartmentValueAdded], [IsDeleted], [ArC], [RmC], [BaseC], [Прибыль]) VALUES (776, 1, 320, CAST(79.2 AS Decimal(10, 1)), 3, 2, 15, 1, 13925000, 375000, 0, 10, 10, 10, 14450832)
GO
INSERT [dbo].[House] ([ID], [ResidentialComplexID], [Street], [Number], [BuildingCost], [HouseValueAdded], [IsDeleted], [ПрибыльОтКвартир]) VALUES (1, 1, N'Амурская', N'Г8', 400000, 500000, 0, 81922656)
INSERT [dbo].[House] ([ID], [ResidentialComplexID], [Street], [Number], [BuildingCost], [HouseValueAdded], [IsDeleted], [ПрибыльОтКвартир]) VALUES (3, 1, N'Амурская', N'Г7', 500000, 550000, 0, 133619644)
INSERT [dbo].[House] ([ID], [ResidentialComplexID], [Street], [Number], [BuildingCost], [HouseValueAdded], [IsDeleted], [ПрибыльОтКвартир]) VALUES (5, 1, N'Амурская', N'А2', 700000, 850000, 0, 73570362)
GO
INSERT [dbo].[ResidentialComplex] ([ID], [Name], [City], [Status], [BuildingCost], [ComplexValueAdded], [IsDeleted], [ПрибыльОтЖК]) VALUES (1, N'Level Амурская', N'Москва', N'строительство', 500000, 60000, 0, 434964963)
INSERT [dbo].[ResidentialComplex] ([ID], [Name], [City], [Status], [BuildingCost], [ComplexValueAdded], [IsDeleted], [ПрибыльОтЖК]) VALUES (2, N'Испанские кварталы', N'Москва', N'план', 7000000, 950000, 0, 78365286)
GO
ALTER TABLE [dbo].[Apartaments] ADD  CONSTRAINT [DF_Apartaments_ArC]  DEFAULT ((10)) FOR [ArC]
GO
ALTER TABLE [dbo].[Apartaments] ADD  CONSTRAINT [DF_Apartaments_RmC]  DEFAULT ((10)) FOR [RmC]
GO
ALTER TABLE [dbo].[Apartaments] ADD  CONSTRAINT [DF_Apartaments_BaseC]  DEFAULT ((10)) FOR [BaseC]
GO
ALTER TABLE [dbo].[Apartaments]  WITH CHECK ADD  CONSTRAINT [FK_Apartaments_House] FOREIGN KEY([HouseID])
REFERENCES [dbo].[House] ([ID])
GO
ALTER TABLE [dbo].[Apartaments] CHECK CONSTRAINT [FK_Apartaments_House]
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD  CONSTRAINT [FK_House_ResidentialComplex] FOREIGN KEY([ResidentialComplexID])
REFERENCES [dbo].[ResidentialComplex] ([ID])
GO
ALTER TABLE [dbo].[House] CHECK CONSTRAINT [FK_House_ResidentialComplex]
GO
/****** Object:  StoredProcedure [dbo].[CostKV1]    Script Date: 14.12.2023 9:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CostKV1]
@kv int,
@room int,
@base int
as
select ResidentialComplex.ID,ResidentialComplex.Name,Sum(Area*@kv+CountOfRooms*@room+Apartaments.BuildingCost+House.BuildingCost+ResidentialComplex.BuildingCost+@base-House.HouseValueAdded-Apartaments.ApartmentValueAdded)-ResidentialComplex.ComplexValueAdded as Cумма 
from (House inner join Apartaments on House.ID = Apartaments.HouseID) inner join ResidentialComplex on House.ResidentialComplexID=ResidentialComplex.ID
where ResidentialComplex.Status='план'
GROUP BY ResidentialComplex.ID,ResidentialComplex.Name,ResidentialComplex.ComplexValueAdded

GO
/****** Object:  StoredProcedure [dbo].[Prib3]    Script Date: 14.12.2023 9:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Prib3]
@kv int,
@room int,
@base int
 as
Select ResidentialComplex.Name, House.ID,Apartaments.Number,Area*@kv+CountOfRooms*@room+Apartaments.BuildingCost+House.BuildingCost+ResidentialComplex.BuildingCost+@base-House.HouseValueAdded-Apartaments.ApartmentValueAdded-ResidentialComplex.ComplexValueAdded as Прибыль
From ResidentialComplex inner join House on ResidentialComplex.ID = House.ResidentialComplexID inner join Apartaments on Apartaments.HouseID = House.ID
Where ResidentialComplex.Status = 'План'
GO
/****** Object:  StoredProcedure [dbo].[PribOtKV]    Script Date: 14.12.2023 9:16:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[PribOtKV]
@kv int,
@room int,
@base int
 as
Select ResidentialComplex.Name,House.ID, (Sum(Area*@kv+CountOfRooms*@room+Apartaments.BuildingCost+House.BuildingCost+ResidentialComplex.BuildingCost+@base-House.HouseValueAdded-Apartaments.ApartmentValueAdded)-ResidentialComplex.ComplexValueAdded) as Прибыль
From ResidentialComplex inner join House on ResidentialComplex.ID = House.ResidentialComplexID inner join Apartaments on Apartaments.HouseID = House.ID
Where ResidentialComplex.Status = 'строительство'
Group by  ResidentialComplex.Name,House.ID,ResidentialComplex.ComplexValueAdded
GO
USE [master]
GO
